In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# "მოსახლეობის საშუალო თვიური შემოსავლების განაწილება (მილიონი ლარი)"		
# Input data
data = {
    "Year": list(range(2002, 2023)),
    "Total_Income_Million_GEL": [239.9, 263.2, 285.0, 314.7, 350.6, 395.2, 494.5, 542.0, 595.9, 636.4, 711.2, 814.1, 904.9, 951.7, 1001.2, 1016.0, 1062.0, 1132.0, 1116.6, 1258.4, 1482.5],
    "Salary_and_Transfers": [165.6, 187.7, 202.1, 239.9, 274.3, 322.5, 410.3, 456.1, 518.1, 549.3, 628.5, 736.3, 823.5, 875.4, 923.8, 940.9, 985.7, 1057.1, 1037.0, 1170.2, 1387.7],
    "From_Employment": [64.2, 68.8, 75.1, 97.8, 118.8, 146.3, 185.9, 205.9, 227.1, 240.7, 279.2, 331.1, 363.7, 429.1, 449.5, 465.5, 490.0, 515.0, 495.5, 537.3, 640.1],
    "From_Self_Employment": [32.2, 36.3, 40.0, 43.0, 44.0, 47.5, 58.3, 60.7, 61.9, 59.9, 75.7, 80.2, 83.0, 90.7, 92.0, 104.2, 112.6, 120.5, 97.5, 119.2, 171.7],
    "From_Agricultural_Sales": [28.5, 28.2, 31.2, 29.2, 29.2, 25.9, 28.4, 27.4, 35.5, 42.9, 42.4, 45.4, 62.2, 71.4, 66.8, 52.0, 60.7, 64.2, 58.7, 80.6, 98.3],
    "From_Property_Sales": [1.1, 1.9, 2.6, 3.7, 1.5, 4.3, 3.8, 7.4, 8.0, 6.5, 5.1, 8.8, 10.6, 10.3, 12.8, 11.5, 14.9, 13.1, 9.9, 14.7, 13.4],
    "Pensions_and_Aid": [13.5, 9.0, 16.4, 26.9, 33.8, 43.6, 65.5, 75.9, 85.4, 89.4, 98.1, 124.7, 152.6, 151.4, 163.2, 171.3, 176.0, 201.3, 243.0, 264.8, 300.3],
    "Received_from_Abroad": [12.2, 21.0, 13.7, 14.7, 16.5, 19.3, 21.8, 25.0, 27.8, 30.9, 30.3, 36.9, 39.2, 30.6, 31.2, 36.2, 42.5, 49.9, 40.3, 50.3, 55.8],
    "Received_as_Gift": [13.9, 22.5, 23.2, 24.7, 30.5, 35.5, 46.7, 53.9, 72, 78.9, 97.8, 109.2, 112.3, 91.9, 108.3, 100.1, 89.0, 93.0, 92.1, 103.4, 108.2],
    "Non_Salary_Income": [74.4, 75.5, 82.8, 74.8, 76.3, 72.7, 84.2, 85.8, 77.9, 87.0, 82.7, 77.8, 81.4, 76.3, 77.4, 75.2, 76.3, 74.9, 79.5, 88.2, 94.8],
    "Other_Income": [47.7, 45.4, 45.6, 45.9, 48.2, 55.8, 79.0, 68.2, 93.4, 108.9, 119.5, 119.7, 131.0, 128.5, 125.6, 165.9, 125.3, 119.3, 78.1, 101.8, 113.6],
    "Property_Sales": [9.7, 9.5, 10.5, 5.7, 7.4, 7.3, 11.7, 7.6, 12.6, 18.7, 20.9, 8.7, 10.4, 8.7, 9.0, 12.3, 5.5, 7.8, 2.3, 5.8, 8.1],
    "Loan_Usage": [38.0, 36.0, 35.1, 40.2, 40.8, 48.5, 67.3, 60.6, 80.8, 90.2, 98.6, 110.9, 120.7, 119.7, 116.7, 153.5, 119.8, 111.5, 75.8, 96.0, 105.5],
    "Total_Expenses_Million_GEL": [213.2, 233.1, 247.7, 285.8, 322.4, 378.3, 489.4, 524.4, 611.5, 658.2, 748.0, 856.0, 954.6, 1003.9, 1049.4, 1106.7, 1111.0, 1176.4, 1115.1, 1271.9, 1501.2],
    "Total_Income_and_Expenses_Million_GEL": [287.6, 308.6, 330.6, 360.6, 398.7, 451.0, 573.6, 610.2, 689.3, 745.2, 830.7, 933.7, 1035.9, 1080.2, 1126.8, 1181.9, 1187.2, 1251.3, 1194.6, 1360.2, 1596.1]
}

df = pd.DataFrame(data)

# Display basic statistics
print(df.describe())

# Plot correlations between different columns
correlation_matrix = df.corr()
plt.figure(figsize=(12, 8))
sns.heatmap(correlation_matrix, annot=True, cmap="coolwarm", fmt=".2f", linewidths=.5)
plt.title("Correlation Matrix")
plt.show()

# Plot total income and expenses over the years
plt.figure(figsize=(12, 8))
plt.plot(df["Year"], df["Total_Income_Million_GEL"], label="Total Income")
plt.plot(df["Year"], df["Total_Expenses_Million_GEL"], label="Total Expenses")
plt.xlabel("Year")
plt.ylabel("Million GEL")
plt.title("Total Income and Expenses Over the Years")
plt.legend()
plt.show()

# Plot income distribution categories over the years
plt.figure(figsize=(12, 8))
plt.stackplot(df["Year"], df["Salary_and_Transfers"], df["Received_from_Abroad"], df["Pensions_and_Aid"],
              df["Property_Sales"], df["Loan_Usage"], labels=["Salary and Transfers", "Received from Abroad",
                                                                "Pensions and Aid", "Property Sales", "Loan Usage"])
plt.xlabel("Year")
plt.ylabel("Million GEL")
plt.title("Income Distribution Categories Over the Years")
plt.legend(loc="upper left")
plt.show()

In [ ]:
# Sort the DataFrame by the "Year" column in ascending order
df_sorted = df.sort_values(by="Year", ascending=True)

# Display the sorted DataFrame
print(df_sorted)

In [ ]:
# Sort the original DataFrame in-place
df.sort_values(by="Year", ascending=True, inplace=True)

# Display the sorted DataFrame
print(df)

In [ ]:
# "მოსახლეობის საშუალო თვიური ხარჯების განაწილება (მილიონი ლარი)"	
# Creating a dictionary with the provided data
data = {
    "სამომხმარებლო ხარჯები, სულ (2+3)": 1204.3,
    "სამომხმარებლო ფულადი ხარჯები": 1109.5,
    "სურსათზე, სასმელზე, თამბაქოს ნაწარმზე": 463.2,
    "ტანსაცმელსა და ფეხსაცმელზე": 43.0,
    "საოჯახო მოხმარების საქონელზე": 37.9,
    "ჯანმრთელობის დაცვაზე": 133.0,
    "საცხოვრებელ სახლზე, წყალზე, ელექტროენერგიაზე, გაზზე და სხვა სათბობზე": 130.6,
    "ტრანსპორტზე": 131.4,
    "განათლებაზე": 26.1,
    "სხვა სამომხმარებლო ხარჯები": 144.2,
    "არაფულადი ხარჯები": 94.8,
    "არასამომხმარებლო ფულადი ხარჯები": 347.6,
    "სასოფლო–სამეურნეო ხარჯები": 43.7,
    "ტრანსფერტებზე": 40.9,
    "დაზოგვაზე ან გასესხებაზე": 230.7,
    "ქონების შეძენაზე": 32.3,
    "ფულადი ხარჯები, სულ (2+4)": 1457.1,
    "ხარჯები, სულ (3+5)": 1551.9
}

# Creating a DataFrame
df = pd.DataFrame(list(data.items()), columns=['Category', 'Amount'])

In [ ]:
# plotting
# Set the style for seaborn
sns.set(style="whitegrid")

# Create a bar plot using seaborn
plt.figure(figsize=(12, 8))
barplot = sns.barplot(x='Amount', y='Category', data=df, palette='viridis', orient='h')

# Adding labels and title
plt.xlabel('თვიური ხარჯები (მილიონი ლარი)')
plt.ylabel('კატეგორია')
plt.title('მოსახლეობის საშუალო თვიური ხარჯების განაწილება (2022)')

# Show the plot
plt.show()

In [ ]:
# Sort the DataFrame by the "Year" column in descending order
df_sorted_desc = df.sort_values(by="Year", ascending=False)

# Display the sorted DataFrame in descending order
print(df_sorted_desc)

In [ ]:
# Sort the original DataFrame in-place in descending order
df.sort_values(by="Year", ascending=False, inplace=True)

# Display the sorted DataFrame in descending order
print(df)

In [ ]:
# "ერთ სულზე მოსახლეობის საშუალო თვიური შემოსავლების განაწილება რეგიონების მიხედვით (ლარი)"		

# Create a DataFrame from the provided data
data = {
    'Region': ['კახეთი', 'თბილისი', 'შიდა ქართლი', 'ქვემო ქართლი', 'სამცხე-ჯავახეთი', 'აჭარის ა.რ.', 'გურია', 'სამეგრელო–ზემო სვანეთი', 'იმერეთი*', 'მცხეთა-მთიანეთი', 'რაჭა-ლეჩხუმი და ქვემო სვანეთი', 'საქართველო'],
    'Total_Income': [480.0, 406.9, 374.0, 331.3, 437.0, 396.9, 333.4, 384.0, 435.8, 388.7, 490.9, 401.9],
    'Salary_Transfers': [442.5, 404.0, 333.0, 316.3, 392.4, 378.8, 288.6, 333.9, 380.6, 364.2, 409.8, 376.2],
    'Business_Income': [146.3, 226.6, 138.0, 148.4, 125.4, 186.7, 114.4, 131.6, 144.8, 163.6, 172.0, 173.5],
    'Self_Employment': [53.9, 48.3, 43.5, 34.5, 19.3, 63.8, 30.7, 42.3, 53.4, 46.9, 19.0, 46.5],
    'Agricultural_Sales': [112.1, 0.4, 30.1, 27.1, 113.1, 15.4, 20.9, 27.0, 19.5, 19.4, 29.8, 26.6],
    'Property_Sales': [0.5, 6.0, 4.0, 0.9, 1.0, 7.7, 1.3, 1.0, 1.7, 4.1, 1.7, 3.6],
    'Pensions_Support': [87.5, 75.5, 80.4, 71.8, 77.9, 69.0, 94.5, 97.3, 92.4, 97.2, 149.6, 81.4],
    'External_Remittances': [13.7, 7.8, 17.0, 12.0, 29.5, 15.7, 8.2, 16.0, 35, 6.7, 4.4, 15.1],
    'Gift_Income': [28.5, 39.3, 20.1, 21.7, 26.2, 20.4, 18.5, 18.6, 33.8, 26.2, 33.3, 29.3],
    'Unearned_Income': [37.5, 2.9, 41.0, 15.0, 44.6, 18.2, 44.9, 50.0, 55.2, 24.5, 81.2, 25.7],
    'Other_Income': [63.7, 21.8, 39.6, 17.5, 90.4, 20.5, 13.4, 18.8, 43.4, 15.4, 34.7, 30.8],
    'Property_Sales': [2.6, 1.3, 3.2, 1.1, 3.7, 2.0, 0.4, 1.5, 5.6, 0.6, 0.9, 2.2],
    'Loans_Usage': [61.1, 20.5, 36.4, 16.5, 86.7, 18.5, 13.0, 17.3, 37.8, 14.8, 33.8, 28.6]
}

df = pd.DataFrame(data)

# Set the 'Region' column as the index for better visualization
df.set_index('Region', inplace=True)

# Plot the data
plt.figure(figsize=(12, 8))
df.plot(kind='bar', stacked=True)
plt.title('Income Distribution by Region in Georgia')
plt.xlabel('Region')
plt.ylabel('Income (in millions of Lari)')
plt.legend(title='Income Type')
plt.show()

In [ ]:
# Filter data for 'თბილისი'
df_tbilisi = df[df['Region'] == 'თბილისი']

# Set the 'Region' column as the index for better visualization
df_tbilisi.set_index('Region', inplace=True)

# Transpose the DataFrame for a better structure
df_transposed = df_tbilisi.T

# Plot the data using seaborn
plt.figure(figsize=(14, 8))
sns.barplot(data=df_transposed, palette='viridis')
plt.title('Income Distribution in თბილისი')
plt.xlabel('Income Type')
plt.ylabel('Income (in millions of Lari)')
plt.xticks(rotation=45, ha='right')
plt.show()

In [ ]:
# "ერთ სულზე მოსახლეობის საშუალო თვიური ხარჯების განაწილება რეგიონების მიხედვით (ლარი)"		

# Raw data
data = {
    'Region': ['კახეთი', 'თბილისი', 'შიდა ქართლი', 'ქვემო ქართლი', 'სამცხე-ჯავახეთი', 'აჭარის ა.რ.', 'გურია', 
               'სამეგრელო–ზემო სვანეთი', 'იმერეთი*', 'მცხეთა-მთიანეთი', 'რაჭა-ლეჩხუმი და ქვემო სვანეთი', 'საქართველო'],
    'Total_Expenditure': [364.1, 360.4, 327.3, 245.4, 332.9, 282.1, 254.4, 308.7, 350.9, 306.1, 368.2, 326.5],
    'Daily_Expenses': [326.6, 357.5, 286.3, 230.4, 288.3, 263.9, 209.5, 258.6, 295.7, 281.6, 287.0, 300.8],
    'Other_Expenses': [149.6, 140.3, 129.0, 100.0, 108.0, 104.0, 109.3, 128.7, 117.4, 129.5, 117.5, 125.6],
    'Clothing_and_Footwear': [9.1, 14.6, 10.1, 8.3, 14.5, 12.1, 5.5, 11.7, 9.9, 12.6, 9.4, 11.7],
    'Housing_Equipment': [10.0, 10.7, 10.7, 10.8, 11.1, 9.5, 6.3, 9.0, 10.2, 13.6, 10.9, 10.3],
    'Health_Care': [44.1, 38.2, 31.2, 27.6, 36.4, 30.7, 25.8, 25.0, 49.7, 28.2, 54.0, 36.1],
    'Utilities': [30.7, 47.7, 30.5, 25.9, 36.7, 34.7, 22.5, 26.6, 25.9, 41.2, 32.3, 35.4],
    'Transportation': [47.7, 41.6, 32.3, 24.3, 43.7, 27.4, 19.3, 26.4, 40.1, 26.5, 31.2, 35.6],
    'Education': [4.3, 10.5, 8.0, 3.5, 3.9, 9.1, 1.2, 4.2, 6.8, 2.1, 2.3, 7.1],
    'Other_Expenses_2': [31.1, 53.9, 34.6, 30.1, 33.9, 36.4, 19.6, 27.0, 35.7, 27.9, 29.5, 39.1],
    'Non_Food_Expenses': [37.5, 2.9, 41.0, 15.0, 44.6, 18.2, 44.9, 50.0, 55.2, 24.5, 81.2, 25.7],
    'Non_Food_Expenses_2': [181.5, 62.8, 89.6, 73.8, 210.1, 88.1, 58.4, 88.8, 119.9, 81.9, 120.4, 94.2],
    'Village_Agricultural_Expenses': [64.5, 0.2, 13.3, 7.0, 26.3, 4.2, 8.0, 14.0, 13.1, 4.7, 14.9, 11.9],
    'Transfer_Expenses': [15.5, 7.8, 8.2, 5.7, 36.9, 6.6, 6.8, 15.2, 17.1, 7.6, 17.0, 11.1],
    'Debt_Interest_Expenses': [77.5, 49.1, 60.3, 56.9, 131.5, 72.3, 40.8, 55.9, 73.7, 61.5, 68.5, 62.5],
    'Property_Purchase_Expenses': [24.0, 5.8, 7.8, 4.3, 15.4, 4.9, 2.7, 3.7, 15.9, 8.1, 19.9, 8.7],
}

# Create a DataFrame
df = pd.DataFrame(data)

# Set the 'Region' column as the index
df.set_index('Region', inplace=True)

# Plotting
fig, ax = plt.subplots(figsize=(12, 8))
df.T.plot(kind='bar', stacked=True, ax=ax)
plt.title('Average Monthly Expenditure Distribution by Region (in GEL)')
plt.xlabel('Expenditure Categories')
plt.ylabel('Total Expenditure')
plt.legend(title='Region', bbox_to_anchor=(1.05, 1), loc='upper left')

# Display the plot
plt.show()

In [ ]:
# Filter data for Georgia
georgia_data = df[df['Region'] == 'საქართველო']

# Plotting
fig, ax = plt.subplots(figsize=(12, 8))
georgia_data.set_index('Region').T.plot(kind='bar', stacked=True, ax=ax)
plt.title('Average Monthly Expenditure Distribution in Georgia (in GEL)')
plt.xlabel('Expenditure Categories')
plt.ylabel('Total Expenditure')
plt.legend(title='Region', bbox_to_anchor=(1.05, 1), loc='upper left')

# Display the plot
plt.show()